application: hungrywolverines
version: 1
runtime: python27
api_version: 1
threadsafe: true

handlers:
- url: /.*
  script: server.app

libraries:
# Dependency for twitter
  - name: ssl
    version: latest

# Fill these in with your own keys
env_variables:
  CONSUMER_KEY: ''
  CONSUMER_SECRET: ''
  ACCESS_TOK_KEY: ''
  ACCESS_TOK_SECRET: ''
  TWILIO_SID: ''
  TWILIO_SECRET: ''